
* {
  box-sizing: border-box;
}

/* BODY */
body {
  background-image: url(../images/background.jpeg);
  margin: 0;
}

article {
  margin-bottom: 20px;
}

/* SESSION MESSAGES */
div#message,
#errors {
  color: #6e1a1a;
  background: #fee4e4;
  border: 2px solid #6e1a1a;
  padding: 1em 15px;
  margin: 1em 15px;
  max-width: 400px;
} 

/* MAIN */
#main-content {
  background-color: #fee4e4;
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
  max-width: 1100px;
}

#main-content .list th {
  padding-bottom: 20px;
}

/* HEADER */
header {
  background-color: #724a4a;
  color: #fff;
  min-height: 100px;
  margin: 0;
  padding: 20px 20px;
  text-align: center; 
}

#add-employee a {
  box-shadow: 0 0 5px #724a4a;
  border: 2px solid #724a4a;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 4px 8px;
}

#delete-employee {
  background-color: #fee4e4;
  box-shadow: 0 0 5px #724a4a;
  border: 2px solid #724a4a;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 4px 8px;
}

#user-info #logout a {
  background-color: #724a4a;
  box-shadow: 0 0 5px #fee4e4;
  border: 1px solid #fee4e4;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  margin: 10px;
  padding: 4px 8px;
}

#user-info #logout a:hover {
  background-color: #fee4e4;
  color: #000;
}

#add-employee a:hover,
#delete-employee:hover,
#main-nav a:hover {
  background-color: #724a4a;
  color: #fff;
}

#page-content {
  color: #000;
  padding: 20px;
}

#fieldset-form {
  max-width: fit-content;
}

img {
  border-radius: 25px;
  padding: 10px;
  max-width: 100%;
  max-height: auto;
}

#images img.zoomed {
  transform: scale(3.5);
}

#image-display {
  margin-top: 20px;
  max-width: 100%;
  max-height: auto;
}

#one-image {
  border: 5px solid #724a4a;
  border-radius: 30px;
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
}

/* FOOTER  */
footer { 
  background-color: #724a4a;
  color: #fff;
  margin: 0;
  min-height: 100px;
  padding: 1rem;
} 

/* SETUP GRID */
@supports (grid-area: auto)  {
  /* Header grid */
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  a {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #header-content {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
  }

  #user-info {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  /* Main content grid */
  #page-content {
    display: grid;
    margin-top: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #navigation {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 0;
    justify-self: center;
  }

  #navigation ul {
    width: 200px;
    padding: 0;
    margin: 0;
  }

  #navigation a {
    box-shadow: 0 0 5px #724a4a;
    border: 2px solid #724a4a;
    border-radius: 10px;
    display: block;
    color: #000;
    margin: 10px;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* #main-nav a:hover {
    background-color: #724a4a;
    color: white;
  } */

  #description {
    grid-column: 2/4;
    grid-row: 1/3;
    margin-left: 0;
  }

  #images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  /* Image display grid */
  #images fieldset {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #images fieldset #image1 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }

  #images fieldset #add-employee {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;
  }

  /* Footer grid */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #my-info {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #chamber {
    grid-column: 3/4;
    grid-row: 1/3;
  }

}

/* FIRST BREAKPOINT 900px */
@media  screen and (max-width: 1100px) {
  #page-content {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #navigation {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #navigation ul {
    width: 200px;
  }

  #navigation a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  #description {
    grid-column: 2/4;
    grid-row: 1/3;
    max-width: 800px;
  }

  #images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #my-info {
    grid-column:1/2;
    grid-row: 1/3;
    justify-self: center;
  }

  #chamber {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
  }

}

/* SECOND BREAKPOINT 640px */
@media  screen and (max-width: 800px) {
  
  #page-content {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }

  #navigation {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #navigation a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  #description {
    grid-column: 2/3;
    grid-row: 1/3;
    max-width: 550px;
  }

  #images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 300px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #my-info {
    grid-column:1/2;
    grid-row: 1/3;
    justify-self: center;
  }

  #chamber {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
  }
}

/* LAST BREAKPOINT 400px */
@media  screen and (max-width: 645px) {

  header {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto;
  }

  a {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #header-content {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }

  #user-info {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
  }
  
  #page-content {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto;
  }

  #navigation {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #navigation ul {
    width: 200px;
  }

  #navigation a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  #description {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin: 20px;
  }

  #display-announcement,
  #announcement-form {
    max-width: 400px;
  }

  textarea {
    width: auto;
  }

  #images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    max-width: 200px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #my-info {
    grid-column:1/2;
    grid-row: 1/3;
  }

  #chamber {
    grid-column: 2/3;
    grid-row: 1/3;
  }

}

